* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
}

@media (spanning: single-fold-vertical) {
  body {
    margin: 0 12px;
  }
}
